In [3]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\hxk0531a\appdata\roaming\python\python311\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
!pip install JayDeBeApi

Defaulting to user installation because normal site-packages is not writeable
Collecting JayDeBeApi
  Obtaining dependency information for JayDeBeApi from https://files.pythonhosted.org/packages/ff/1f/6a627c9bd7dea13235b65fce0fff987507269d41f957c578031796f70319/JayDeBeApi-1.2.3-py3-none-any.whl.metadata
  Downloading JayDeBeApi-1.2.3-py3-none-any.whl.metadata (10 kB)
Collecting JPype1 (from JayDeBeApi)
  Obtaining dependency information for JPype1 from https://files.pythonhosted.org/packages/1f/19/144f3a767b563ba5c6d4aa534ea1f3fad9a5067c3917df4458a6e1afe0ef/JPype1-1.5.0-cp311-cp311-win_amd64.whl.metadata
  Downloading JPype1-1.5.0-cp311-cp311-win_amd64.whl.metadata (5.0 kB)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from JPype1->JayDeBeApi) (23.1)
Downloading JayDeBeApi-1.2.3-py3-none-any.whl (26 kB)
Downloading JPype1-1.5.0-cp311-cp311-win_amd64.whl (351 kB)
   ---------------------------------------- 0.0/351.5 kB ? eta -:--:--
   ------ --------------------------------- 61.4/351.5 kB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 351.5/351.5 kB 4.4 MB/s eta 0:00:00
Installing collected packages: JPype1, JayDeBeApi
Successfully installed JPype1-1.5.0 JayDeBeApi-1.2.3

In [6]:
!pip install JPype1

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: JPype1 in c:\users\hxk0531a\appdata\roaming\python\python311\site-packages (1.5.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from JPype1) (23.1)

## for the normal small scale migrations

In [4]:
    import pandas as pd
    import jaydebeapi

    # Path to the JDBC driver JAR
    jdbc_driver_jar = "C:\\Users\\HXK0531A\\Downloads\\openedge 9.jar"

    # JDBC connection parameters for Progress DB
    jdbc_driver_class = 'com.ddtek.jdbc.openedge.OpenEdgeDriver' 
    jdbc_url = 'jdbc:datadirect:openedge://sbdbrlnx02:64105;databaseName=mfgtest'
    db_username = 'odbcuser'
    db_password = 'userodbc'

    # MySQL connection parameters
    mySQL_connection_params = {
        'drivername': 'mysql+pymysql',
        'username': 'qad_brazil_user',
        'password': 'qad_brazil_2024!',
        'host': 'tow-p-solix01',
        'port': '3307',
        'database': 'Qad_Brazil',
    }

    # Connect to Progress DB using JayDeBeApi
    progress_conn = jaydebeapi.connect(jdbc_driver_class,
                                       jdbc_url,
                                       [db_username, db_password],
                                       jdbc_driver_jar)

    # MySQL engine using SQLAlchemy
    from sqlalchemy import create_engine

    MySQL_engine = create_engine(f"{mySQL_connection_params['drivername']}://"
                                 f"{mySQL_connection_params['username']}:{mySQL_connection_params['password']}@"
                                 f"{mySQL_connection_params['host']}:{mySQL_connection_params['port']}/"
                                 f"{mySQL_connection_params['database']}")

    # List of table names to transfer
    table_names_to_transfer = ['code_mstr']  # Add your table names here

    for table_name in table_names_to_transfer:
        try:
            # Ensure the correct schema and table name
            query = f'SELECT * FROM "PUB"."{table_name}"'  # Adjust schema accordingly
            progress_data = pd.read_sql(query, progress_conn)

            target_table_name = f"{table_name}_PUB" 

            # Write data to MySQL table
            progress_data.to_sql(target_table_name, MySQL_engine, index=False, if_exists='replace')

            print(f"Table '{table_name}' migrated successfully.")
        except Exception as e:
            print(f"Error migrating table '{table_name}': {e}")


    # Close the connections
    progress_conn.close()
    MySQL_engine.dispose()

C:\Users\local_HXK0531A\Temp\ipykernel_38248\3703691519.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  progress_data = pd.read_sql(query, progress_conn)

Error migrating table 'code_mstr': java.sql.SQLException: [DataDirect][OpenEdge JDBC Driver][OpenEdge] Column code_cmmt at rowid 26661205 in table PUB.code_mstr has value exceeding its max length or precision.

## for large scale migrations

In [16]:
import pandas as pd
import jaydebeapi
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
import time



# Path to the JDBC driver JAR
jdbc_driver_jar = "C:\\Users\\HXK0531A\\Downloads\\openedge 9.jar"



# JDBC connection parameters for Progress DB
jdbc_driver_class = 'com.ddtek.jdbc.openedge.OpenEdgeDriver'
jdbc_url = 'jdbc:datadirect:openedge://sbdbrlnx02:64105;databaseName=mfgtest'
db_username = 'odbcuser'
db_password = 'userodbc'

# MySQL connection parameters
mySQL_connection_params = {
        'drivername': 'mysql+pymysql',
        'username': 'qad_brazil_user',
        'password': 'qad_brazil_2024!',
        'host': 'tow-p-solix01',
        'port': '3307',
        'database': 'Qad_Brazil',
    }



# MySQL connection parameters (removed fast_executemany)
MySQL_engine = create_engine(
    f"mysql+pymysql://{mySQL_connection_params['username']}:{mySQL_connection_params['password']}@"
    f"{mySQL_connection_params['host']}:{mySQL_connection_params['port']}/{mySQL_connection_params['database']}",
    poolclass=NullPool  # Disable connection pooling
)



# Function to manually fetch data from Progress DB using JayDeBeApi and convert to Pandas DataFrame
def fetch_data_in_chunks(query, conn, chunk_size=50000):
    cursor = conn.cursor()
    cursor.execute(query)

    columns = [desc[0] for desc in cursor.description]  # Get column names
    while True:
        rows = cursor.fetchmany(chunk_size)  # Fetch chunk_size rows
        if not rows:
            break
        yield pd.DataFrame(rows, columns=columns)  # Yield DataFrame chunk

        
        
# Function to migrate tables in chunks
def migrate_table_in_chunks(progress_conn, table_name, mysql_engine, chunk_size=50000):
    try:
        # Ensure the correct schema and table name
        query = f'SELECT * FROM "PUB"."{table_name}"'  
        
        # Fetch data in chunks and migrate
        target_table_name = f"{table_name}_PUB"
        for chunk_num, chunk in enumerate(fetch_data_in_chunks(query, progress_conn, chunk_size)):
            # Write chunk to MySQL table
            chunk.to_sql(target_table_name, mysql_engine, index=False, if_exists='append')
            print(f"Chunk {chunk_num + 1} of table '{table_name}' migrated successfully.")
        
        print(f"Table '{table_name}' migration completed successfully.")
    except Exception as e:
        print(f"Error migrating table '{table_name}': {e}")

        
        
        
# Connect to Progress DB using JayDeBeApi
progress_conn = None
try:
    start_time = time.time()
    
    progress_conn = jaydebeapi.connect(jdbc_driver_class, jdbc_url, [db_username, db_password], jdbc_driver_jar)
    
    # List of table names to transfer
    table_names_to_transfer = ['lgd_mstr']  # Add your table names here

    for table_name in table_names_to_transfer:
        migrate_table_in_chunks(progress_conn, table_name, MySQL_engine)

    end_time = time.time()
    print(f"Data migration completed in {end_time - start_time:.2f} seconds.")
    
finally:
    # Ensure that connections are closed properly
    if progress_conn:
        progress_conn.close()
    MySQL_engine.dispose()
    print("All connections closed.")

Error migrating table 'lgd_mstr': java.sql.SQLException: [DataDirect][OpenEdge JDBC Driver][OpenEdge] Column lgd_doc_type at rowid 252673 in table PUB.lgd_mstr has value exceeding its max length or precision.
Data migration completed in 0.85 seconds.
All connections closed.

## for black database

In [1]:
import pandas as pd
import jaydebeapi
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
import time

# Path to the JDBC driver JAR
jdbc_driver_jar = "C:\\Users\\HXK0531A\\Downloads\\openedge 9.jar"

# JDBC connection parameters for Progress DB
jdbc_driver_class = 'com.ddtek.jdbc.openedge.OpenEdgeDriver'
jdbc_url = 'jdbc:datadirect:openedge://sbdbrlnx02:64170;databaseName=black'
db_username = 'odbcuser'
db_password = 'userodbc'

# MySQL connection parameters
mySQL_connection_params = {
        'drivername': 'mysql+pymysql',
        'username': 'qad_brazil_user',
        'password': 'qad_brazil_2024!',
        'host': 'tow-p-solix01',
        'port': '3307',
        'database': 'Qad_Brazil',
    }

# MySQL connection parameters (removed fast_executemany)
MySQL_engine = create_engine(
    f"mysql+pymysql://{mySQL_connection_params['username']}:{mySQL_connection_params['password']}@"
    f"{mySQL_connection_params['host']}:{mySQL_connection_params['port']}/{mySQL_connection_params['database']}",
    poolclass=NullPool  # Disable connection pooling
)

# Function to manually fetch data from Progress DB using JayDeBeApi and convert to Pandas DataFrame
def fetch_data_in_chunks(query, conn, chunk_size=50000):
    cursor = conn.cursor()
    cursor.execute(query)

    columns = [desc[0] for desc in cursor.description]  # Get column names
    while True:
        rows = cursor.fetchmany(chunk_size)  # Fetch chunk_size rows
        if not rows:
            break
        yield pd.DataFrame(rows, columns=columns)  # Yield DataFrame chunk

# Function to migrate tables in chunks
def migrate_table_in_chunks(progress_conn, table_name, mysql_engine, chunk_size=50000):
    try:
        # Ensure the correct schema and table name
        query = f'SELECT * FROM "PUB"."{table_name}"'  
        
        # Fetch data in chunks and migrate
        target_table_name = f"{table_name}_pub"
        for chunk_num, chunk in enumerate(fetch_data_in_chunks(query, progress_conn, chunk_size)):
            # Write chunk to MySQL table
            chunk.to_sql(target_table_name, mysql_engine, index=False, if_exists='append')
            print(f"Chunk {chunk_num + 1} of table '{table_name}' migrated successfully.")
        
        print(f"Table '{table_name}' migration completed successfully.")
    except Exception as e:
        print(f"Error migrating table '{table_name}': {e}")

# Connect to Progress DB using JayDeBeApi
progress_conn = None
try:
    start_time = time.time()
    
    progress_conn = jaydebeapi.connect(jdbc_driver_class, jdbc_url, [db_username, db_password], jdbc_driver_jar)
    
    # List of table names to transfer
    table_names_to_transfer = ['bd_ld_det','fotoped','zpcs_det','movimento-parceria','zpxr_det']  # Add your table names here

    for table_name in table_names_to_transfer:
        migrate_table_in_chunks(progress_conn, table_name, MySQL_engine)

    end_time = time.time()
    print(f"Data migration completed in {end_time - start_time:.2f} seconds.")
    
finally:
    # Ensure that connections are closed properly
    if progress_conn:
        progress_conn.close()
    MySQL_engine.dispose()
    print("All connections closed.")

Error migrating table 'bd_ld_det': java.sql.SQLException: [DataDirect][OpenEdge JDBC Driver][OpenEdge] Column bd_ld_user2 at rowid 35229865 in table PUB.bd_ld_det has value exceeding its max length or precision.
Chunk 1 of table 'fotoped' migrated successfully.
Chunk 2 of table 'fotoped' migrated successfully.
Chunk 3 of table 'fotoped' migrated successfully.
Chunk 4 of table 'fotoped' migrated successfully.
Chunk 5 of table 'fotoped' migrated successfully.
Chunk 6 of table 'fotoped' migrated successfully.
Chunk 7 of table 'fotoped' migrated successfully.
Chunk 8 of table 'fotoped' migrated successfully.
Chunk 9 of table 'fotoped' migrated successfully.
Chunk 10 of table 'fotoped' migrated successfully.
Chunk 11 of table 'fotoped' migrated successfully.
Chunk 12 of table 'fotoped' migrated successfully.
Chunk 13 of table 'fotoped' migrated successfully.
Chunk 14 of table 'fotoped' migrated successfully.
Chunk 15 of table 'fotoped' migrated successfully.
Chunk 16 of table 'fotoped' migrated successfully.
Chunk 17 of table 'fotoped' migrated successfully.
Chunk 18 of table 'fotoped' migrated successfully.
Chunk 19 of table 'fotoped' migrated successfully.
Chunk 20 of table 'fotoped' migrated successfully.
Chunk 21 of table 'fotoped' migrated successfully.
Chunk 22 of table 'fotoped' migrated successfully.
Chunk 23 of table 'fotoped' migrated successfully.
Chunk 24 of table 'fotoped' migrated successfully.
Chunk 25 of table 'fotoped' migrated successfully.
Chunk 26 of table 'fotoped' migrated successfully.
Chunk 27 of table 'fotoped' migrated successfully.
Chunk 28 of table 'fotoped' migrated successfully.
Chunk 29 of table 'fotoped' migrated successfully.
Chunk 30 of table 'fotoped' migrated successfully.
Chunk 31 of table 'fotoped' migrated successfully.
Chunk 32 of table 'fotoped' migrated successfully.
Chunk 33 of table 'fotoped' migrated successfully.
Chunk 34 of table 'fotoped' migrated successfully.
Chunk 35 of table 'fotoped' migrated successfully.
Chunk 36 of table 'fotoped' migrated successfully.
Chunk 37 of table 'fotoped' migrated successfully.
Chunk 38 of table 'fotoped' migrated successfully.
Chunk 39 of table 'fotoped' migrated successfully.
Chunk 40 of table 'fotoped' migrated successfully.
Chunk 41 of table 'fotoped' migrated successfully.
Chunk 42 of table 'fotoped' migrated successfully.
Chunk 43 of table 'fotoped' migrated successfully.
Chunk 44 of table 'fotoped' migrated successfully.
Chunk 45 of table 'fotoped' migrated successfully.
Chunk 46 of table 'fotoped' migrated successfully.
Chunk 47 of table 'fotoped' migrated successfully.
Chunk 48 of table 'fotoped' migrated successfully.
Chunk 49 of table 'fotoped' migrated successfully.
Chunk 50 of table 'fotoped' migrated successfully.
Chunk 51 of table 'fotoped' migrated successfully.
Chunk 52 of table 'fotoped' migrated successfully.
Chunk 53 of table 'fotoped' migrated successfully.
Chunk 54 of table 'fotoped' migrated successfully.
Chunk 55 of table 'fotoped' migrated successfully.
Chunk 56 of table 'fotoped' migrated successfully.
Chunk 57 of table 'fotoped' migrated successfully.
Chunk 58 of table 'fotoped' migrated successfully.
Chunk 59 of table 'fotoped' migrated successfully.
Chunk 60 of table 'fotoped' migrated successfully.
Chunk 61 of table 'fotoped' migrated successfully.
Chunk 62 of table 'fotoped' migrated successfully.
Chunk 63 of table 'fotoped' migrated successfully.
Chunk 64 of table 'fotoped' migrated successfully.
Chunk 65 of table 'fotoped' migrated successfully.
Chunk 66 of table 'fotoped' migrated successfully.
Chunk 67 of table 'fotoped' migrated successfully.
Chunk 68 of table 'fotoped' migrated successfully.
Chunk 69 of table 'fotoped' migrated successfully.
Chunk 70 of table 'fotoped' migrated successfully.
Chunk 71 of table 'fotoped' migrated successfully.
Chunk 72 of table 'fotoped' migrated successfully.
Chunk 73 of table 'fotoped' migrated successfully.
Chunk 74 of table 'fotoped' migrated successfully.
Chunk 75 of table 'fotoped' migrated successfully.
Chunk 76 of table 'fotoped' migrated successfully.
Chunk 77 of table 'fotoped' migrated successfully.
Chunk 78 of table 'fotoped' migrated successfully.
Chunk 79 of table 'fotoped' migrated successfully.
Chunk 80 of table 'fotoped' migrated successfully.
Chunk 81 of table 'fotoped' migrated successfully.
Chunk 82 of table 'fotoped' migrated successfully.
Chunk 83 of table 'fotoped' migrated successfully.
Chunk 84 of table 'fotoped' migrated successfully.
Chunk 85 of table 'fotoped' migrated successfully.
Chunk 86 of table 'fotoped' migrated successfully.
Chunk 87 of table 'fotoped' migrated successfully.
Chunk 88 of table 'fotoped' migrated successfully.
Chunk 89 of table 'fotoped' migrated successfully.
Chunk 90 of table 'fotoped' migrated successfully.
Chunk 91 of table 'fotoped' migrated successfully.
Chunk 92 of table 'fotoped' migrated successfully.
Chunk 93 of table 'fotoped' migrated successfully.
Chunk 94 of table 'fotoped' migrated successfully.
Chunk 95 of table 'fotoped' migrated successfully.
Chunk 96 of table 'fotoped' migrated successfully.
Chunk 97 of table 'fotoped' migrated successfully.
Chunk 98 of table 'fotoped' migrated successfully.
Chunk 99 of table 'fotoped' migrated successfully.
Chunk 100 of table 'fotoped' migrated successfully.
Chunk 101 of table 'fotoped' migrated successfully.
Chunk 102 of table 'fotoped' migrated successfully.
Chunk 103 of table 'fotoped' migrated successfully.
Chunk 104 of table 'fotoped' migrated successfully.
Chunk 105 of table 'fotoped' migrated successfully.
Chunk 106 of table 'fotoped' migrated successfully.
Chunk 107 of table 'fotoped' migrated successfully.
Chunk 108 of table 'fotoped' migrated successfully.
Chunk 109 of table 'fotoped' migrated successfully.
Chunk 110 of table 'fotoped' migrated successfully.
Chunk 111 of table 'fotoped' migrated successfully.
Chunk 112 of table 'fotoped' migrated successfully.
Chunk 113 of table 'fotoped' migrated successfully.
Chunk 114 of table 'fotoped' migrated successfully.
Chunk 115 of table 'fotoped' migrated successfully.
Chunk 116 of table 'fotoped' migrated successfully.
Chunk 117 of table 'fotoped' migrated successfully.
Chunk 118 of table 'fotoped' migrated successfully.
Chunk 119 of table 'fotoped' migrated successfully.
Chunk 120 of table 'fotoped' migrated successfully.
Chunk 121 of table 'fotoped' migrated successfully.
Chunk 122 of table 'fotoped' migrated successfully.
Chunk 123 of table 'fotoped' migrated successfully.
Chunk 124 of table 'fotoped' migrated successfully.
Chunk 125 of table 'fotoped' migrated successfully.
Chunk 126 of table 'fotoped' migrated successfully.
Chunk 127 of table 'fotoped' migrated successfully.
Chunk 128 of table 'fotoped' migrated successfully.
Chunk 129 of table 'fotoped' migrated successfully.
Chunk 130 of table 'fotoped' migrated successfully.
Chunk 131 of table 'fotoped' migrated successfully.
Chunk 132 of table 'fotoped' migrated successfully.
Chunk 133 of table 'fotoped' migrated successfully.
Chunk 134 of table 'fotoped' migrated successfully.
Chunk 135 of table 'fotoped' migrated successfully.
Chunk 136 of table 'fotoped' migrated successfully.
Chunk 137 of table 'fotoped' migrated successfully.
Chunk 138 of table 'fotoped' migrated successfully.
Chunk 139 of table 'fotoped' migrated successfully.
Chunk 140 of table 'fotoped' migrated successfully.
Chunk 141 of table 'fotoped' migrated successfully.
Chunk 142 of table 'fotoped' migrated successfully.
Chunk 143 of table 'fotoped' migrated successfully.
Chunk 144 of table 'fotoped' migrated successfully.
Chunk 145 of table 'fotoped' migrated successfully.
Chunk 146 of table 'fotoped' migrated successfully.
Chunk 147 of table 'fotoped' migrated successfully.
Chunk 148 of table 'fotoped' migrated successfully.
Chunk 149 of table 'fotoped' migrated successfully.
Chunk 150 of table 'fotoped' migrated successfully.
Chunk 151 of table 'fotoped' migrated successfully.
Chunk 152 of table 'fotoped' migrated successfully.
Chunk 153 of table 'fotoped' migrated successfully.
Chunk 154 of table 'fotoped' migrated successfully.
Chunk 155 of table 'fotoped' migrated successfully.
Chunk 156 of table 'fotoped' migrated successfully.

Chunk 157 of table 'fotoped' migrated successfully.
Chunk 158 of table 'fotoped' migrated successfully.
Chunk 159 of table 'fotoped' migrated successfully.
Chunk 160 of table 'fotoped' migrated successfully.
Chunk 161 of table 'fotoped' migrated successfully.
Chunk 162 of table 'fotoped' migrated successfully.
Chunk 163 of table 'fotoped' migrated successfully.
Chunk 164 of table 'fotoped' migrated successfully.
Chunk 165 of table 'fotoped' migrated successfully.
Chunk 166 of table 'fotoped' migrated successfully.
Chunk 167 of table 'fotoped' migrated successfully.
Chunk 168 of table 'fotoped' migrated successfully.
Chunk 169 of table 'fotoped' migrated successfully.
Chunk 170 of table 'fotoped' migrated successfully.
Chunk 171 of table 'fotoped' migrated successfully.
Chunk 172 of table 'fotoped' migrated successfully.
Chunk 173 of table 'fotoped' migrated successfully.
Chunk 174 of table 'fotoped' migrated successfully.
Chunk 175 of table 'fotoped' migrated successfully.
Chunk 176 of table 'fotoped' migrated successfully.
Chunk 177 of table 'fotoped' migrated successfully.
Chunk 178 of table 'fotoped' migrated successfully.
Chunk 179 of table 'fotoped' migrated successfully.
Chunk 180 of table 'fotoped' migrated successfully.
Chunk 181 of table 'fotoped' migrated successfully.
Chunk 182 of table 'fotoped' migrated successfully.
Chunk 183 of table 'fotoped' migrated successfully.
Chunk 184 of table 'fotoped' migrated successfully.
Chunk 185 of table 'fotoped' migrated successfully.
Chunk 186 of table 'fotoped' migrated successfully.
Chunk 187 of table 'fotoped' migrated successfully.
Chunk 188 of table 'fotoped' migrated successfully.
Chunk 189 of table 'fotoped' migrated successfully.
Chunk 190 of table 'fotoped' migrated successfully.
Chunk 191 of table 'fotoped' migrated successfully.
Chunk 192 of table 'fotoped' migrated successfully.
Chunk 193 of table 'fotoped' migrated successfully.
Chunk 194 of table 'fotoped' migrated successfully.
Chunk 195 of table 'fotoped' migrated successfully.
Chunk 196 of table 'fotoped' migrated successfully.
Chunk 197 of table 'fotoped' migrated successfully.
Chunk 198 of table 'fotoped' migrated successfully.
Chunk 199 of table 'fotoped' migrated successfully.
Chunk 200 of table 'fotoped' migrated successfully.
Chunk 201 of table 'fotoped' migrated successfully.
Chunk 202 of table 'fotoped' migrated successfully.
Chunk 203 of table 'fotoped' migrated successfully.
Chunk 204 of table 'fotoped' migrated successfully.
Chunk 205 of table 'fotoped' migrated successfully.
Chunk 206 of table 'fotoped' migrated successfully.
Chunk 207 of table 'fotoped' migrated successfully.
Chunk 208 of table 'fotoped' migrated successfully.
Chunk 209 of table 'fotoped' migrated successfully.
Chunk 210 of table 'fotoped' migrated successfully.
Chunk 211 of table 'fotoped' migrated successfully.
Chunk 212 of table 'fotoped' migrated successfully.
Chunk 213 of table 'fotoped' migrated successfully.
Chunk 214 of table 'fotoped' migrated successfully.
Chunk 215 of table 'fotoped' migrated successfully.
Chunk 216 of table 'fotoped' migrated successfully.
Chunk 217 of table 'fotoped' migrated successfully.
Chunk 218 of table 'fotoped' migrated successfully.
Chunk 219 of table 'fotoped' migrated successfully.
Chunk 220 of table 'fotoped' migrated successfully.
Chunk 221 of table 'fotoped' migrated successfully.
Chunk 222 of table 'fotoped' migrated successfully.
Chunk 223 of table 'fotoped' migrated successfully.
Chunk 224 of table 'fotoped' migrated successfully.
Chunk 225 of table 'fotoped' migrated successfully.
Chunk 226 of table 'fotoped' migrated successfully.
Chunk 227 of table 'fotoped' migrated successfully.
Chunk 228 of table 'fotoped' migrated successfully.
Chunk 229 of table 'fotoped' migrated successfully.
Chunk 230 of table 'fotoped' migrated successfully.
Chunk 231 of table 'fotoped' migrated successfully.
Chunk 232 of table 'fotoped' migrated successfully.
Chunk 233 of table 'fotoped' migrated successfully.
Chunk 234 of table 'fotoped' migrated successfully.
Chunk 235 of table 'fotoped' migrated successfully.
Chunk 236 of table 'fotoped' migrated successfully.
Chunk 237 of table 'fotoped' migrated successfully.
Chunk 238 of table 'fotoped' migrated successfully.
Chunk 239 of table 'fotoped' migrated successfully.
Chunk 240 of table 'fotoped' migrated successfully.
Chunk 241 of table 'fotoped' migrated successfully.
Chunk 242 of table 'fotoped' migrated successfully.
Chunk 243 of table 'fotoped' migrated successfully.
Chunk 244 of table 'fotoped' migrated successfully.
Chunk 245 of table 'fotoped' migrated successfully.
Chunk 246 of table 'fotoped' migrated successfully.
Chunk 247 of table 'fotoped' migrated successfully.
Chunk 248 of table 'fotoped' migrated successfully.
Chunk 249 of table 'fotoped' migrated successfully.
Chunk 250 of table 'fotoped' migrated successfully.
Chunk 251 of table 'fotoped' migrated successfully.
Chunk 252 of table 'fotoped' migrated successfully.
Chunk 253 of table 'fotoped' migrated successfully.
Chunk 254 of table 'fotoped' migrated successfully.
Chunk 255 of table 'fotoped' migrated successfully.
Chunk 256 of table 'fotoped' migrated successfully.
Chunk 257 of table 'fotoped' migrated successfully.
Chunk 258 of table 'fotoped' migrated successfully.
Chunk 259 of table 'fotoped' migrated successfully.
Chunk 260 of table 'fotoped' migrated successfully.
Chunk 261 of table 'fotoped' migrated successfully.
Chunk 262 of table 'fotoped' migrated successfully.
Chunk 263 of table 'fotoped' migrated successfully.
Chunk 264 of table 'fotoped' migrated successfully.
Chunk 265 of table 'fotoped' migrated successfully.
Chunk 266 of table 'fotoped' migrated successfully.
Chunk 267 of table 'fotoped' migrated successfully.
Chunk 268 of table 'fotoped' migrated successfully.
Chunk 269 of table 'fotoped' migrated successfully.
Chunk 270 of table 'fotoped' migrated successfully.
Chunk 271 of table 'fotoped' migrated successfully.
Chunk 272 of table 'fotoped' migrated successfully.
Chunk 273 of table 'fotoped' migrated successfully.
Chunk 274 of table 'fotoped' migrated successfully.
Chunk 275 of table 'fotoped' migrated successfully.
Chunk 276 of table 'fotoped' migrated successfully.
Chunk 277 of table 'fotoped' migrated successfully.
Chunk 278 of table 'fotoped' migrated successfully.
Chunk 279 of table 'fotoped' migrated successfully.
Chunk 280 of table 'fotoped' migrated successfully.
Chunk 281 of table 'fotoped' migrated successfully.
Chunk 282 of table 'fotoped' migrated successfully.
Chunk 283 of table 'fotoped' migrated successfully.
Chunk 284 of table 'fotoped' migrated successfully.
Chunk 285 of table 'fotoped' migrated successfully.
Chunk 286 of table 'fotoped' migrated successfully.
Chunk 287 of table 'fotoped' migrated successfully.
Chunk 288 of table 'fotoped' migrated successfully.
Chunk 289 of table 'fotoped' migrated successfully.
Chunk 290 of table 'fotoped' migrated successfully.
Chunk 291 of table 'fotoped' migrated successfully.
Chunk 292 of table 'fotoped' migrated successfully.
Chunk 293 of table 'fotoped' migrated successfully.
Chunk 294 of table 'fotoped' migrated successfully.
Chunk 295 of table 'fotoped' migrated successfully.
Chunk 296 of table 'fotoped' migrated successfully.
Chunk 297 of table 'fotoped' migrated successfully.
Chunk 298 of table 'fotoped' migrated successfully.
Chunk 299 of table 'fotoped' migrated successfully.
Chunk 300 of table 'fotoped' migrated successfully.
Chunk 301 of table 'fotoped' migrated successfully.
Chunk 302 of table 'fotoped' migrated successfully.
Chunk 303 of table 'fotoped' migrated successfully.
Chunk 304 of table 'fotoped' migrated successfully.
Chunk 305 of table 'fotoped' migrated successfully.
Chunk 306 of table 'fotoped' migrated successfully.
Chunk 307 of table 'fotoped' migrated successfully.
Chunk 308 of table 'fotoped' migrated successfully.
Chunk 309 of table 'fotoped' migrated successfully.
Table 'fotoped' migration completed successfully.
Chunk 1 of table 'zpcs_det' migrated successfully.
Chunk 2 of table 'zpcs_det' migrated successfully.
Chunk 3 of table 'zpcs_det' migrated successfully.
Chunk 4 of table 'zpcs_det' migrated successfully.

Chunk 5 of table 'zpcs_det' migrated successfully.
Chunk 6 of table 'zpcs_det' migrated successfully.
Chunk 7 of table 'zpcs_det' migrated successfully.
Chunk 8 of table 'zpcs_det' migrated successfully.
Chunk 9 of table 'zpcs_det' migrated successfully.
Chunk 10 of table 'zpcs_det' migrated successfully.
Chunk 11 of table 'zpcs_det' migrated successfully.
Chunk 12 of table 'zpcs_det' migrated successfully.
Chunk 13 of table 'zpcs_det' migrated successfully.
Chunk 14 of table 'zpcs_det' migrated successfully.
Chunk 15 of table 'zpcs_det' migrated successfully.
Chunk 16 of table 'zpcs_det' migrated successfully.
Chunk 17 of table 'zpcs_det' migrated successfully.
Chunk 18 of table 'zpcs_det' migrated successfully.
Chunk 19 of table 'zpcs_det' migrated successfully.
Chunk 20 of table 'zpcs_det' migrated successfully.
Chunk 21 of table 'zpcs_det' migrated successfully.
Chunk 22 of table 'zpcs_det' migrated successfully.
Chunk 23 of table 'zpcs_det' migrated successfully.
Chunk 24 of table 'zpcs_det' migrated successfully.
Chunk 25 of table 'zpcs_det' migrated successfully.
Chunk 26 of table 'zpcs_det' migrated successfully.
Chunk 27 of table 'zpcs_det' migrated successfully.
Chunk 28 of table 'zpcs_det' migrated successfully.
Chunk 29 of table 'zpcs_det' migrated successfully.
Chunk 30 of table 'zpcs_det' migrated successfully.
Chunk 31 of table 'zpcs_det' migrated successfully.
Chunk 32 of table 'zpcs_det' migrated successfully.
Chunk 33 of table 'zpcs_det' migrated successfully.
Chunk 34 of table 'zpcs_det' migrated successfully.
Chunk 35 of table 'zpcs_det' migrated successfully.
Chunk 36 of table 'zpcs_det' migrated successfully.
Chunk 37 of table 'zpcs_det' migrated successfully.
Chunk 38 of table 'zpcs_det' migrated successfully.
Chunk 39 of table 'zpcs_det' migrated successfully.
Chunk 40 of table 'zpcs_det' migrated successfully.
Chunk 41 of table 'zpcs_det' migrated successfully.
Chunk 42 of table 'zpcs_det' migrated successfully.
Chunk 43 of table 'zpcs_det' migrated successfully.
Chunk 44 of table 'zpcs_det' migrated successfully.
Chunk 45 of table 'zpcs_det' migrated successfully.
Chunk 46 of table 'zpcs_det' migrated successfully.
Chunk 47 of table 'zpcs_det' migrated successfully.
Chunk 48 of table 'zpcs_det' migrated successfully.
Chunk 49 of table 'zpcs_det' migrated successfully.
Chunk 50 of table 'zpcs_det' migrated successfully.
Chunk 51 of table 'zpcs_det' migrated successfully.
Chunk 52 of table 'zpcs_det' migrated successfully.
Chunk 53 of table 'zpcs_det' migrated successfully.
Chunk 54 of table 'zpcs_det' migrated successfully.
Chunk 55 of table 'zpcs_det' migrated successfully.
Chunk 56 of table 'zpcs_det' migrated successfully.
Chunk 57 of table 'zpcs_det' migrated successfully.
Chunk 58 of table 'zpcs_det' migrated successfully.
Chunk 59 of table 'zpcs_det' migrated successfully.
Chunk 60 of table 'zpcs_det' migrated successfully.
Chunk 61 of table 'zpcs_det' migrated successfully.
Chunk 62 of table 'zpcs_det' migrated successfully.
Chunk 63 of table 'zpcs_det' migrated successfully.
Chunk 64 of table 'zpcs_det' migrated successfully.
Chunk 65 of table 'zpcs_det' migrated successfully.
Chunk 66 of table 'zpcs_det' migrated successfully.
Chunk 67 of table 'zpcs_det' migrated successfully.
Chunk 68 of table 'zpcs_det' migrated successfully.
Chunk 69 of table 'zpcs_det' migrated successfully.
Chunk 70 of table 'zpcs_det' migrated successfully.
Chunk 71 of table 'zpcs_det' migrated successfully.
Chunk 72 of table 'zpcs_det' migrated successfully.
Chunk 73 of table 'zpcs_det' migrated successfully.
Chunk 74 of table 'zpcs_det' migrated successfully.
Chunk 75 of table 'zpcs_det' migrated successfully.
Chunk 76 of table 'zpcs_det' migrated successfully.
Chunk 77 of table 'zpcs_det' migrated successfully.
Chunk 78 of table 'zpcs_det' migrated successfully.
Chunk 79 of table 'zpcs_det' migrated successfully.
Chunk 80 of table 'zpcs_det' migrated successfully.
Chunk 81 of table 'zpcs_det' migrated successfully.
Chunk 82 of table 'zpcs_det' migrated successfully.
Chunk 83 of table 'zpcs_det' migrated successfully.
Chunk 84 of table 'zpcs_det' migrated successfully.
Chunk 85 of table 'zpcs_det' migrated successfully.
Chunk 86 of table 'zpcs_det' migrated successfully.
Chunk 87 of table 'zpcs_det' migrated successfully.
Chunk 88 of table 'zpcs_det' migrated successfully.
Chunk 89 of table 'zpcs_det' migrated successfully.
Chunk 90 of table 'zpcs_det' migrated successfully.
Chunk 91 of table 'zpcs_det' migrated successfully.
Chunk 92 of table 'zpcs_det' migrated successfully.
Chunk 93 of table 'zpcs_det' migrated successfully.
Chunk 94 of table 'zpcs_det' migrated successfully.
Chunk 95 of table 'zpcs_det' migrated successfully.
Chunk 96 of table 'zpcs_det' migrated successfully.
Chunk 97 of table 'zpcs_det' migrated successfully.
Chunk 98 of table 'zpcs_det' migrated successfully.
Chunk 99 of table 'zpcs_det' migrated successfully.
Chunk 100 of table 'zpcs_det' migrated successfully.
Chunk 101 of table 'zpcs_det' migrated successfully.
Chunk 102 of table 'zpcs_det' migrated successfully.
Chunk 103 of table 'zpcs_det' migrated successfully.
Chunk 104 of table 'zpcs_det' migrated successfully.
Chunk 105 of table 'zpcs_det' migrated successfully.
Chunk 106 of table 'zpcs_det' migrated successfully.
Chunk 107 of table 'zpcs_det' migrated successfully.
Chunk 108 of table 'zpcs_det' migrated successfully.
Chunk 109 of table 'zpcs_det' migrated successfully.
Chunk 110 of table 'zpcs_det' migrated successfully.
Chunk 111 of table 'zpcs_det' migrated successfully.
Chunk 112 of table 'zpcs_det' migrated successfully.
Chunk 113 of table 'zpcs_det' migrated successfully.
Chunk 114 of table 'zpcs_det' migrated successfully.
Chunk 115 of table 'zpcs_det' migrated successfully.
Chunk 116 of table 'zpcs_det' migrated successfully.
Chunk 117 of table 'zpcs_det' migrated successfully.
Chunk 118 of table 'zpcs_det' migrated successfully.
Chunk 119 of table 'zpcs_det' migrated successfully.
Chunk 120 of table 'zpcs_det' migrated successfully.
Chunk 121 of table 'zpcs_det' migrated successfully.
Chunk 122 of table 'zpcs_det' migrated successfully.
Chunk 123 of table 'zpcs_det' migrated successfully.
Chunk 124 of table 'zpcs_det' migrated successfully.
Chunk 125 of table 'zpcs_det' migrated successfully.
Chunk 126 of table 'zpcs_det' migrated successfully.
Chunk 127 of table 'zpcs_det' migrated successfully.
Chunk 128 of table 'zpcs_det' migrated successfully.
Chunk 129 of table 'zpcs_det' migrated successfully.
Chunk 130 of table 'zpcs_det' migrated successfully.
Chunk 131 of table 'zpcs_det' migrated successfully.
Chunk 132 of table 'zpcs_det' migrated successfully.
Chunk 133 of table 'zpcs_det' migrated successfully.
Chunk 134 of table 'zpcs_det' migrated successfully.
Chunk 135 of table 'zpcs_det' migrated successfully.
Chunk 136 of table 'zpcs_det' migrated successfully.
Chunk 137 of table 'zpcs_det' migrated successfully.
Chunk 138 of table 'zpcs_det' migrated successfully.
Chunk 139 of table 'zpcs_det' migrated successfully.
Chunk 140 of table 'zpcs_det' migrated successfully.
Chunk 141 of table 'zpcs_det' migrated successfully.
Chunk 142 of table 'zpcs_det' migrated successfully.
Chunk 143 of table 'zpcs_det' migrated successfully.
Chunk 144 of table 'zpcs_det' migrated successfully.
Chunk 145 of table 'zpcs_det' migrated successfully.
Chunk 146 of table 'zpcs_det' migrated successfully.
Chunk 147 of table 'zpcs_det' migrated successfully.
Chunk 148 of table 'zpcs_det' migrated successfully.
Chunk 149 of table 'zpcs_det' migrated successfully.
Chunk 150 of table 'zpcs_det' migrated successfully.
Chunk 151 of table 'zpcs_det' migrated successfully.
Chunk 152 of table 'zpcs_det' migrated successfully.
Chunk 153 of table 'zpcs_det' migrated successfully.
Chunk 154 of table 'zpcs_det' migrated successfully.
Chunk 155 of table 'zpcs_det' migrated successfully.
Chunk 156 of table 'zpcs_det' migrated successfully.
Chunk 157 of table 'zpcs_det' migrated successfully.
Chunk 158 of table 'zpcs_det' migrated successfully.
Chunk 159 of table 'zpcs_det' migrated successfully.
Chunk 160 of table 'zpcs_det' migrated successfully.
Chunk 161 of table 'zpcs_det' migrated successfully.

Chunk 162 of table 'zpcs_det' migrated successfully.
Chunk 163 of table 'zpcs_det' migrated successfully.
Chunk 164 of table 'zpcs_det' migrated successfully.
Chunk 165 of table 'zpcs_det' migrated successfully.
Chunk 166 of table 'zpcs_det' migrated successfully.
Chunk 167 of table 'zpcs_det' migrated successfully.
Chunk 168 of table 'zpcs_det' migrated successfully.
Chunk 169 of table 'zpcs_det' migrated successfully.
Chunk 170 of table 'zpcs_det' migrated successfully.
Chunk 171 of table 'zpcs_det' migrated successfully.
Chunk 172 of table 'zpcs_det' migrated successfully.
Chunk 173 of table 'zpcs_det' migrated successfully.
Chunk 174 of table 'zpcs_det' migrated successfully.
Chunk 175 of table 'zpcs_det' migrated successfully.
Chunk 176 of table 'zpcs_det' migrated successfully.
Chunk 177 of table 'zpcs_det' migrated successfully.
Chunk 178 of table 'zpcs_det' migrated successfully.
Chunk 179 of table 'zpcs_det' migrated successfully.
Chunk 180 of table 'zpcs_det' migrated successfully.
Chunk 181 of table 'zpcs_det' migrated successfully.
Chunk 182 of table 'zpcs_det' migrated successfully.
Chunk 183 of table 'zpcs_det' migrated successfully.
Chunk 184 of table 'zpcs_det' migrated successfully.
Chunk 185 of table 'zpcs_det' migrated successfully.
Chunk 186 of table 'zpcs_det' migrated successfully.
Chunk 187 of table 'zpcs_det' migrated successfully.
Chunk 188 of table 'zpcs_det' migrated successfully.
Chunk 189 of table 'zpcs_det' migrated successfully.
Chunk 190 of table 'zpcs_det' migrated successfully.
Chunk 191 of table 'zpcs_det' migrated successfully.
Chunk 192 of table 'zpcs_det' migrated successfully.
Chunk 193 of table 'zpcs_det' migrated successfully.
Chunk 194 of table 'zpcs_det' migrated successfully.
Chunk 195 of table 'zpcs_det' migrated successfully.
Chunk 196 of table 'zpcs_det' migrated successfully.
Chunk 197 of table 'zpcs_det' migrated successfully.
Chunk 198 of table 'zpcs_det' migrated successfully.
Chunk 199 of table 'zpcs_det' migrated successfully.
Chunk 200 of table 'zpcs_det' migrated successfully.
Chunk 201 of table 'zpcs_det' migrated successfully.
Chunk 202 of table 'zpcs_det' migrated successfully.
Chunk 203 of table 'zpcs_det' migrated successfully.
Chunk 204 of table 'zpcs_det' migrated successfully.
Chunk 205 of table 'zpcs_det' migrated successfully.
Chunk 206 of table 'zpcs_det' migrated successfully.
Chunk 207 of table 'zpcs_det' migrated successfully.
Chunk 208 of table 'zpcs_det' migrated successfully.
Chunk 209 of table 'zpcs_det' migrated successfully.
Chunk 210 of table 'zpcs_det' migrated successfully.
Chunk 211 of table 'zpcs_det' migrated successfully.
Chunk 212 of table 'zpcs_det' migrated successfully.
Chunk 213 of table 'zpcs_det' migrated successfully.
Chunk 214 of table 'zpcs_det' migrated successfully.
Chunk 215 of table 'zpcs_det' migrated successfully.
Chunk 216 of table 'zpcs_det' migrated successfully.
Chunk 217 of table 'zpcs_det' migrated successfully.
Chunk 218 of table 'zpcs_det' migrated successfully.
Chunk 219 of table 'zpcs_det' migrated successfully.
Chunk 220 of table 'zpcs_det' migrated successfully.
Chunk 221 of table 'zpcs_det' migrated successfully.
Chunk 222 of table 'zpcs_det' migrated successfully.
Chunk 223 of table 'zpcs_det' migrated successfully.
Chunk 224 of table 'zpcs_det' migrated successfully.
Chunk 225 of table 'zpcs_det' migrated successfully.
Chunk 226 of table 'zpcs_det' migrated successfully.
Chunk 227 of table 'zpcs_det' migrated successfully.
Chunk 228 of table 'zpcs_det' migrated successfully.
Chunk 229 of table 'zpcs_det' migrated successfully.
Chunk 230 of table 'zpcs_det' migrated successfully.
Chunk 231 of table 'zpcs_det' migrated successfully.
Chunk 232 of table 'zpcs_det' migrated successfully.
Chunk 233 of table 'zpcs_det' migrated successfully.
Chunk 234 of table 'zpcs_det' migrated successfully.
Chunk 235 of table 'zpcs_det' migrated successfully.
Chunk 236 of table 'zpcs_det' migrated successfully.
Chunk 237 of table 'zpcs_det' migrated successfully.
Chunk 238 of table 'zpcs_det' migrated successfully.
Chunk 239 of table 'zpcs_det' migrated successfully.
Chunk 240 of table 'zpcs_det' migrated successfully.
Chunk 241 of table 'zpcs_det' migrated successfully.
Chunk 242 of table 'zpcs_det' migrated successfully.
Chunk 243 of table 'zpcs_det' migrated successfully.
Chunk 244 of table 'zpcs_det' migrated successfully.
Chunk 245 of table 'zpcs_det' migrated successfully.
Chunk 246 of table 'zpcs_det' migrated successfully.
Chunk 247 of table 'zpcs_det' migrated successfully.
Chunk 248 of table 'zpcs_det' migrated successfully.
Chunk 249 of table 'zpcs_det' migrated successfully.
Chunk 250 of table 'zpcs_det' migrated successfully.
Chunk 251 of table 'zpcs_det' migrated successfully.
Chunk 252 of table 'zpcs_det' migrated successfully.
Chunk 253 of table 'zpcs_det' migrated successfully.
Chunk 254 of table 'zpcs_det' migrated successfully.
Chunk 255 of table 'zpcs_det' migrated successfully.
Chunk 256 of table 'zpcs_det' migrated successfully.
Chunk 257 of table 'zpcs_det' migrated successfully.
Chunk 258 of table 'zpcs_det' migrated successfully.
Chunk 259 of table 'zpcs_det' migrated successfully.
Chunk 260 of table 'zpcs_det' migrated successfully.
Chunk 261 of table 'zpcs_det' migrated successfully.
Chunk 262 of table 'zpcs_det' migrated successfully.
Chunk 263 of table 'zpcs_det' migrated successfully.
Chunk 264 of table 'zpcs_det' migrated successfully.
Chunk 265 of table 'zpcs_det' migrated successfully.
Chunk 266 of table 'zpcs_det' migrated successfully.
Chunk 267 of table 'zpcs_det' migrated successfully.
Chunk 268 of table 'zpcs_det' migrated successfully.
Chunk 269 of table 'zpcs_det' migrated successfully.
Chunk 270 of table 'zpcs_det' migrated successfully.
Chunk 271 of table 'zpcs_det' migrated successfully.
Chunk 272 of table 'zpcs_det' migrated successfully.
Chunk 273 of table 'zpcs_det' migrated successfully.
Chunk 274 of table 'zpcs_det' migrated successfully.
Chunk 275 of table 'zpcs_det' migrated successfully.
Chunk 276 of table 'zpcs_det' migrated successfully.
Chunk 277 of table 'zpcs_det' migrated successfully.
Chunk 278 of table 'zpcs_det' migrated successfully.
Chunk 279 of table 'zpcs_det' migrated successfully.
Chunk 280 of table 'zpcs_det' migrated successfully.
Chunk 281 of table 'zpcs_det' migrated successfully.
Chunk 282 of table 'zpcs_det' migrated successfully.
Chunk 283 of table 'zpcs_det' migrated successfully.
Chunk 284 of table 'zpcs_det' migrated successfully.
Chunk 285 of table 'zpcs_det' migrated successfully.
Chunk 286 of table 'zpcs_det' migrated successfully.
Chunk 287 of table 'zpcs_det' migrated successfully.
Chunk 288 of table 'zpcs_det' migrated successfully.
Chunk 289 of table 'zpcs_det' migrated successfully.
Chunk 290 of table 'zpcs_det' migrated successfully.
Chunk 291 of table 'zpcs_det' migrated successfully.
Chunk 292 of table 'zpcs_det' migrated successfully.
Chunk 293 of table 'zpcs_det' migrated successfully.
Chunk 294 of table 'zpcs_det' migrated successfully.
Chunk 295 of table 'zpcs_det' migrated successfully.
Chunk 296 of table 'zpcs_det' migrated successfully.
Chunk 297 of table 'zpcs_det' migrated successfully.
Chunk 298 of table 'zpcs_det' migrated successfully.
Chunk 299 of table 'zpcs_det' migrated successfully.
Chunk 300 of table 'zpcs_det' migrated successfully.
Chunk 301 of table 'zpcs_det' migrated successfully.
Chunk 302 of table 'zpcs_det' migrated successfully.
Chunk 303 of table 'zpcs_det' migrated successfully.
Chunk 304 of table 'zpcs_det' migrated successfully.
Chunk 305 of table 'zpcs_det' migrated successfully.
Chunk 306 of table 'zpcs_det' migrated successfully.
Chunk 307 of table 'zpcs_det' migrated successfully.
Chunk 308 of table 'zpcs_det' migrated successfully.
Chunk 309 of table 'zpcs_det' migrated successfully.
Chunk 310 of table 'zpcs_det' migrated successfully.
Chunk 311 of table 'zpcs_det' migrated successfully.
Chunk 312 of table 'zpcs_det' migrated successfully.
Chunk 313 of table 'zpcs_det' migrated successfully.
Chunk 314 of table 'zpcs_det' migrated successfully.
Chunk 315 of table 'zpcs_det' migrated successfully.
Chunk 316 of table 'zpcs_det' migrated successfully.

Chunk 317 of table 'zpcs_det' migrated successfully.
Chunk 318 of table 'zpcs_det' migrated successfully.
Chunk 319 of table 'zpcs_det' migrated successfully.
Chunk 320 of table 'zpcs_det' migrated successfully.
Chunk 321 of table 'zpcs_det' migrated successfully.
Chunk 322 of table 'zpcs_det' migrated successfully.
Chunk 323 of table 'zpcs_det' migrated successfully.
Chunk 324 of table 'zpcs_det' migrated successfully.
Chunk 325 of table 'zpcs_det' migrated successfully.
Chunk 326 of table 'zpcs_det' migrated successfully.
Chunk 327 of table 'zpcs_det' migrated successfully.
Chunk 328 of table 'zpcs_det' migrated successfully.
Chunk 329 of table 'zpcs_det' migrated successfully.
Chunk 330 of table 'zpcs_det' migrated successfully.
Chunk 331 of table 'zpcs_det' migrated successfully.
Chunk 332 of table 'zpcs_det' migrated successfully.
Chunk 333 of table 'zpcs_det' migrated successfully.
Chunk 334 of table 'zpcs_det' migrated successfully.
Chunk 335 of table 'zpcs_det' migrated successfully.
Chunk 336 of table 'zpcs_det' migrated successfully.
Chunk 337 of table 'zpcs_det' migrated successfully.
Chunk 338 of table 'zpcs_det' migrated successfully.
Chunk 339 of table 'zpcs_det' migrated successfully.
Chunk 340 of table 'zpcs_det' migrated successfully.
Chunk 341 of table 'zpcs_det' migrated successfully.
Chunk 342 of table 'zpcs_det' migrated successfully.
Chunk 343 of table 'zpcs_det' migrated successfully.
Chunk 344 of table 'zpcs_det' migrated successfully.
Chunk 345 of table 'zpcs_det' migrated successfully.
Chunk 346 of table 'zpcs_det' migrated successfully.
Chunk 347 of table 'zpcs_det' migrated successfully.
Chunk 348 of table 'zpcs_det' migrated successfully.
Chunk 349 of table 'zpcs_det' migrated successfully.
Chunk 350 of table 'zpcs_det' migrated successfully.
Chunk 351 of table 'zpcs_det' migrated successfully.
Chunk 352 of table 'zpcs_det' migrated successfully.
Chunk 353 of table 'zpcs_det' migrated successfully.
Chunk 354 of table 'zpcs_det' migrated successfully.
Chunk 355 of table 'zpcs_det' migrated successfully.
Chunk 356 of table 'zpcs_det' migrated successfully.
Chunk 357 of table 'zpcs_det' migrated successfully.
Chunk 358 of table 'zpcs_det' migrated successfully.
Chunk 359 of table 'zpcs_det' migrated successfully.
Chunk 360 of table 'zpcs_det' migrated successfully.
Chunk 361 of table 'zpcs_det' migrated successfully.
Chunk 362 of table 'zpcs_det' migrated successfully.
Chunk 363 of table 'zpcs_det' migrated successfully.
Chunk 364 of table 'zpcs_det' migrated successfully.
Chunk 365 of table 'zpcs_det' migrated successfully.
Chunk 366 of table 'zpcs_det' migrated successfully.
Chunk 367 of table 'zpcs_det' migrated successfully.
Chunk 368 of table 'zpcs_det' migrated successfully.
Chunk 369 of table 'zpcs_det' migrated successfully.
Chunk 370 of table 'zpcs_det' migrated successfully.
Chunk 371 of table 'zpcs_det' migrated successfully.
Chunk 372 of table 'zpcs_det' migrated successfully.
Chunk 373 of table 'zpcs_det' migrated successfully.
Chunk 374 of table 'zpcs_det' migrated successfully.
Chunk 375 of table 'zpcs_det' migrated successfully.
Chunk 376 of table 'zpcs_det' migrated successfully.
Chunk 377 of table 'zpcs_det' migrated successfully.
Chunk 378 of table 'zpcs_det' migrated successfully.
Chunk 379 of table 'zpcs_det' migrated successfully.
Chunk 380 of table 'zpcs_det' migrated successfully.
Chunk 381 of table 'zpcs_det' migrated successfully.
Chunk 382 of table 'zpcs_det' migrated successfully.
Chunk 383 of table 'zpcs_det' migrated successfully.
Chunk 384 of table 'zpcs_det' migrated successfully.
Chunk 385 of table 'zpcs_det' migrated successfully.
Chunk 386 of table 'zpcs_det' migrated successfully.
Chunk 387 of table 'zpcs_det' migrated successfully.
Chunk 388 of table 'zpcs_det' migrated successfully.
Chunk 389 of table 'zpcs_det' migrated successfully.
Chunk 390 of table 'zpcs_det' migrated successfully.
Chunk 391 of table 'zpcs_det' migrated successfully.
Chunk 392 of table 'zpcs_det' migrated successfully.
Chunk 393 of table 'zpcs_det' migrated successfully.
Chunk 394 of table 'zpcs_det' migrated successfully.
Chunk 395 of table 'zpcs_det' migrated successfully.
Chunk 396 of table 'zpcs_det' migrated successfully.
Chunk 397 of table 'zpcs_det' migrated successfully.
Chunk 398 of table 'zpcs_det' migrated successfully.
Chunk 399 of table 'zpcs_det' migrated successfully.
Chunk 400 of table 'zpcs_det' migrated successfully.
Chunk 401 of table 'zpcs_det' migrated successfully.
Chunk 402 of table 'zpcs_det' migrated successfully.
Chunk 403 of table 'zpcs_det' migrated successfully.
Chunk 404 of table 'zpcs_det' migrated successfully.
Chunk 405 of table 'zpcs_det' migrated successfully.
Chunk 406 of table 'zpcs_det' migrated successfully.
Chunk 407 of table 'zpcs_det' migrated successfully.
Chunk 408 of table 'zpcs_det' migrated successfully.
Chunk 409 of table 'zpcs_det' migrated successfully.
Chunk 410 of table 'zpcs_det' migrated successfully.
Chunk 411 of table 'zpcs_det' migrated successfully.
Chunk 412 of table 'zpcs_det' migrated successfully.
Chunk 413 of table 'zpcs_det' migrated successfully.
Chunk 414 of table 'zpcs_det' migrated successfully.
Chunk 415 of table 'zpcs_det' migrated successfully.
Chunk 416 of table 'zpcs_det' migrated successfully.
Chunk 417 of table 'zpcs_det' migrated successfully.
Chunk 418 of table 'zpcs_det' migrated successfully.
Chunk 419 of table 'zpcs_det' migrated successfully.
Chunk 420 of table 'zpcs_det' migrated successfully.
Chunk 421 of table 'zpcs_det' migrated successfully.
Chunk 422 of table 'zpcs_det' migrated successfully.
Chunk 423 of table 'zpcs_det' migrated successfully.
Chunk 424 of table 'zpcs_det' migrated successfully.
Chunk 425 of table 'zpcs_det' migrated successfully.
Chunk 426 of table 'zpcs_det' migrated successfully.
Chunk 427 of table 'zpcs_det' migrated successfully.
Chunk 428 of table 'zpcs_det' migrated successfully.
Chunk 429 of table 'zpcs_det' migrated successfully.
Chunk 430 of table 'zpcs_det' migrated successfully.
Chunk 431 of table 'zpcs_det' migrated successfully.
Chunk 432 of table 'zpcs_det' migrated successfully.
Chunk 433 of table 'zpcs_det' migrated successfully.
Chunk 434 of table 'zpcs_det' migrated successfully.
Chunk 435 of table 'zpcs_det' migrated successfully.
Chunk 436 of table 'zpcs_det' migrated successfully.
Chunk 437 of table 'zpcs_det' migrated successfully.
Chunk 438 of table 'zpcs_det' migrated successfully.
Chunk 439 of table 'zpcs_det' migrated successfully.
Chunk 440 of table 'zpcs_det' migrated successfully.
Chunk 441 of table 'zpcs_det' migrated successfully.
Chunk 442 of table 'zpcs_det' migrated successfully.
Chunk 443 of table 'zpcs_det' migrated successfully.
Chunk 444 of table 'zpcs_det' migrated successfully.
Chunk 445 of table 'zpcs_det' migrated successfully.
Chunk 446 of table 'zpcs_det' migrated successfully.
Chunk 447 of table 'zpcs_det' migrated successfully.
Chunk 448 of table 'zpcs_det' migrated successfully.
Chunk 449 of table 'zpcs_det' migrated successfully.
Chunk 450 of table 'zpcs_det' migrated successfully.
Chunk 451 of table 'zpcs_det' migrated successfully.
Chunk 452 of table 'zpcs_det' migrated successfully.
Chunk 453 of table 'zpcs_det' migrated successfully.
Chunk 454 of table 'zpcs_det' migrated successfully.
Chunk 455 of table 'zpcs_det' migrated successfully.
Chunk 456 of table 'zpcs_det' migrated successfully.
Chunk 457 of table 'zpcs_det' migrated successfully.
Chunk 458 of table 'zpcs_det' migrated successfully.
Chunk 459 of table 'zpcs_det' migrated successfully.
Chunk 460 of table 'zpcs_det' migrated successfully.
Chunk 461 of table 'zpcs_det' migrated successfully.
Chunk 462 of table 'zpcs_det' migrated successfully.
Chunk 463 of table 'zpcs_det' migrated successfully.
Chunk 464 of table 'zpcs_det' migrated successfully.
Chunk 465 of table 'zpcs_det' migrated successfully.
Chunk 466 of table 'zpcs_det' migrated successfully.
Chunk 467 of table 'zpcs_det' migrated successfully.
Chunk 468 of table 'zpcs_det' migrated successfully.
Chunk 469 of table 'zpcs_det' migrated successfully.
Chunk 470 of table 'zpcs_det' migrated successfully.
Chunk 471 of table 'zpcs_det' migrated successfully.

Chunk 472 of table 'zpcs_det' migrated successfully.
Chunk 473 of table 'zpcs_det' migrated successfully.
Chunk 474 of table 'zpcs_det' migrated successfully.
Chunk 475 of table 'zpcs_det' migrated successfully.
Chunk 476 of table 'zpcs_det' migrated successfully.
Chunk 477 of table 'zpcs_det' migrated successfully.
Chunk 478 of table 'zpcs_det' migrated successfully.
Chunk 479 of table 'zpcs_det' migrated successfully.
Chunk 480 of table 'zpcs_det' migrated successfully.
Chunk 481 of table 'zpcs_det' migrated successfully.
Chunk 482 of table 'zpcs_det' migrated successfully.
Chunk 483 of table 'zpcs_det' migrated successfully.
Chunk 484 of table 'zpcs_det' migrated successfully.
Chunk 485 of table 'zpcs_det' migrated successfully.
Chunk 486 of table 'zpcs_det' migrated successfully.
Chunk 487 of table 'zpcs_det' migrated successfully.
Chunk 488 of table 'zpcs_det' migrated successfully.
Chunk 489 of table 'zpcs_det' migrated successfully.
Chunk 490 of table 'zpcs_det' migrated successfully.
Chunk 491 of table 'zpcs_det' migrated successfully.
Chunk 492 of table 'zpcs_det' migrated successfully.
Chunk 493 of table 'zpcs_det' migrated successfully.
Chunk 494 of table 'zpcs_det' migrated successfully.
Chunk 495 of table 'zpcs_det' migrated successfully.
Chunk 496 of table 'zpcs_det' migrated successfully.
Chunk 497 of table 'zpcs_det' migrated successfully.
Chunk 498 of table 'zpcs_det' migrated successfully.
Chunk 499 of table 'zpcs_det' migrated successfully.
Chunk 500 of table 'zpcs_det' migrated successfully.
Chunk 501 of table 'zpcs_det' migrated successfully.
Chunk 502 of table 'zpcs_det' migrated successfully.
Chunk 503 of table 'zpcs_det' migrated successfully.
All connections closed.

KeyboardInterrupt:

## increase of length (space) in the target for the columns to be migrated

In [ ]:
import pandas as pd
import jaydebeapi
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
import time

# Path to the JDBC driver JAR
jdbc_driver_jar = "C:\\Users\\HXK0531A\\Downloads\\openedge 9.jar"

# JDBC connection parameters for Progress DB
jdbc_driver_class = 'com.ddtek.jdbc.openedge.OpenEdgeDriver'
jdbc_url = 'jdbc:datadirect:openedge://sbdbrlnx02:64105;databaseName=mfgtest'
db_username = 'odbcuser'
db_password = 'userodbc'

# MySQL connection parameters
mySQL_connection_params = {
    'drivername': 'mysql+pymysql',
    'username': 'qad_brazil_user',
    'password': 'qad_brazil_2024!',
    'host': 'tow-p-solix01',
    'port': '3307',
    'database': 'Qad_Brazil',
}

# MySQL engine setup
MySQL_engine = create_engine(
    f"mysql+pymysql://{mySQL_connection_params['username']}:{mySQL_connection_params['password']}@"
    f"{mySQL_connection_params['host']}:{mySQL_connection_params['port']}/{mySQL_connection_params['database']}",
    poolclass=NullPool  # Disable connection pooling
)

# Function to fetch data excluding problematic columns
def fetch_data_with_selected_columns(table_name, columns_to_exclude, conn):
    # Get all columns excluding problematic ones
    cursor = conn.cursor()
    cursor.execute(f'SELECT * FROM "PUB"."{table_name}" WHERE 1=0')  # Get column names without fetching data
    all_columns = [desc[0] for desc in cursor.description]

    # Remove the columns to exclude
    selected_columns = [col for col in all_columns if col not in columns_to_exclude]

    # Create a string of columns for the SELECT query
    columns_string = ', '.join([f'"{col}"' for col in selected_columns])

    # Fetch the data using the selected columns
    query = f'SELECT {columns_string} FROM "PUB"."{table_name}"'
    df = pd.read_sql(query, conn)

    print(f"Fetched {len(df)} records from Progress table '{table_name}' excluding columns {columns_to_exclude}.")
    return df

# Function to migrate the data
def migrate_table(progress_conn, table_name, mysql_engine, columns_to_exclude):
    try:
        df = fetch_data_with_selected_columns(table_name, columns_to_exclude, progress_conn)
        target_table_name = f"{table_name}_PUB"
        
        # Write DataFrame to MySQL, replacing if it exists
        df.to_sql(target_table_name, mysql_engine, index=False, if_exists='replace')
        print(f"Data migrated successfully to MySQL table '{target_table_name}'.")

    except Exception as e:
        print(f"Error migrating table '{table_name}': {e}")

# Main execution block
progress_conn = None
try:
    start_time = time.time()
    
    progress_conn = jaydebeapi.connect(jdbc_driver_class, jdbc_url, [db_username, db_password], jdbc_driver_jar)
    
    # Specify the table names and the columns to exclude
    table_names_to_transfer = ['lgd_mstr']  # Add your table names here
    columns_to_exclude = ["lgd_doc_type", "lgd_user2", "lgd_user1", "lgd_prim_doc_typ", "lgd_domain","lgd_rmks","lgd_shipto_site"]  # Add any other problematic columns here

    for table_name in table_names_to_transfer:
        migrate_table(progress_conn, table_name, MySQL_engine, columns_to_exclude)

    end_time = time.time()
    print(f"Data migration completed in {end_time - start_time:.2f} seconds.")
    
finally:
    if progress_conn:
        progress_conn.close()
    MySQL_engine.dispose()
    print("All connections closed.")

C:\Users\local_HXK0531A\Temp\ipykernel_94700\2687913043.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)